* {
    color: #3e515d;
    font-family: 'Nunito', sans-serif;
    .prev-arrow {
      position: absolute;
      top: 50%;
      left: -3%;
      border: none;
      background: none;
      transform: translate(0, -50%);
    }
    .slide {
      cursor: pointer;
      .film {
        /* border-radius: 5px; */
        background-color: white;
        position: relative;
        .film-img-mobile {
          max-height: 450px;
          min-height: 450px;
        }
        .film-img {
          /* border-top-left-radius: 5px;
                    border-top-right-radius: 5px; */
          max-height: 280px;
          min-height: 280px;
        }
        .film-title {
          max-height: 55px;
          min-height: 55px;
        }
      }
    }
    .hvr-float {
      display: inline-block;
      vertical-align: middle;
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      transition-duration: 0.3s;
      transition-property: transform;
      transition-timing-function: ease-out;
    }
  
    .hvr-float:hover,
    .hvr-float:focus,
    .hvr-float:active {
      transform: translateY(-20px);
    }

    .image-system:hover{
      cursor: pointer;
    }
    .theater:hover{
      cursor: pointer;
    }
  }
  